project:
  type: website
  output-dir: docs

website:
  navbar:
    background: primary
    search: true
    left:
      - text: "Home"
        file: index.qmd
      - text: "Basic Setup"
        file: basic_setup.qmd
      - text: "Example Dashboards"
        file: example_dashboards.qmd
      - text: "Reference"
        file: reference/index.qmd

    right:
      - icon: github
        href: https://github.com/Russell-Shean/powerbpy
        aria-label: GitHub

# tell quarto to read the generated sidebar
metadata-files:
  - _sidebar.yml


quartodoc:
  style: pkgdown
  # parser: "sphinx"
  # the name used to import the package you want to create reference docs for
  package: powerbpy

  # write sidebar data to this file
  sidebar: _sidebar.yml

  sections:
    - title: Power Bpy
      desc: Python functions for building Power BI dashboards
      contents:
        # the functions being documented in the package.
        # you can refer to anything: class methods, modules, etc..
        - dashboard
        - page
        - background_image
        - button
        - card
        - chart
        - dataset_csv
        - dataset_tmdl
        - sanky_chart
        - shape_map
        - slicer
        - table
        - text_box
        - visual
        - data_set


format:
  html:
    toc: true
    
    theme:
     dark: darkly
     light: cosmo

#    theme: styles.scss
