# Test that the package on pypi correctly creates the testing dashboard

name: test pypi package

on:
  workflow_dispatch:


permissions:
  contents: write

jobs:
      
  # Make sure that the version of the package we just published to pypi 
  # can still create a dashboard
  post-publish-test-dashboard:
    runs-on: ubuntu-latest
    needs: 
       - update-toml
    steps:
      - name: Download data and script
        run: |
          # csv files
          curl -L -o colony.csv https://raw.githubusercontent.com/Russell-Shean/powerbpy/main/examples/data/colony.csv
          curl -L -o sales_final_dataset.csv https://raw.githubusercontent.com/Russell-Shean/powerbpy/main/examples/data/sales_final_dataset.csv
          curl -L -o wa_bigfoot_by_county.csv https://raw.githubusercontent.com/Russell-Shean/powerbpy/main/examples/data/wa_bigfoot_by_county.csv
          
          # Other data
          curl -L -o Taipei_skyline_at_sunset_20150607.jpg https://raw.githubusercontent.com/Russell-Shean/powerbpy/main/examples/data/Taipei_skyline_at_sunset_20150607.jpg
          curl -L -o 2019_53_WA_Counties9467365124727016.json https://raw.githubusercontent.com/Russell-Shean/powerbpy/main/examples/data/2019_53_WA_Counties9467365124727016.json
          
          # production test script
          curl -L -o test_script_prod.py https://raw.githubusercontent.com/Russell-Shean/powerbpy/main/.github/scripts/test_script_prod.py
      
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
    
      - name: Install Power Bpy from Pypi
        run: python -m pip install powerbpy


      - name: Create dashboard using Pypi version of powerbpy
        run: python test_script_prod.py